{% extends 'base.html' %}

{% block title %}À propos{% endblock %}

{% block bootstrap5_content %}
<div class="container d-flex flex-column align-items-center">
    
    <h1 class="text-center mb-4">À propos de l'application</h1>
    
    <p class="text-center">
        Cette application est conçue pour faciliter la gestion des collections de jeux vidéos. 
        Elle offre des fonctionnalités permettant d’ajouter, éditer, et supprimer des collections, 
        ainsi que de consulter des détails spécifiques sur chacune d'elles.
    </p>
</div>
{% endblock %}