{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Suppression de la collection{% endblock %}

{% block bootstrap5_content %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
    <div class="text-center p-5" style="background-color: #f0b73e; border-radius: 8px; max-width: 500px; width: 100%;">
        <h1 class="display-6 text-danger mb-4">Confirmation de Suppression</h1>
        <p class="lead">Êtes-vous sûr de vouloir supprimer la collection <strong>{{ collection.title }}</strong> ? Cette action est irréversible.</p>

        <form method="post" class="d-inline-block">
            {% csrf_token %}
            <a href="{% url 'collec_management:all' %}" class="btn btn-primary me-2">Annuler</a>
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
    </div>
</div>
{% endblock %}
