{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Application de gestion des collections{% endblock %}

{% block bootstrap5_content %}
<div class="container my-5">
    <div class="text-center">
        <h1 class="display-4 mb-4">Gestion des Collections</h1>

        <p class="lead">Bienvenue dans l'application de gestion de collections. Ici, vous pouvez explorer, ajouter et organiser vos collections en toute simplicité.</p>
        
        <div class="mt-4">
            <a href="{% url 'collec_management:all' %}" class="btn btn-primary btn-lg me-2">Voir toutes les collections</a>
            <a href="{% url 'collec_management:new' %}" class="btn btn-success btn-lg">Ajouter une nouvelle collection</a>
        </div>
    </div>
</div>
{% endblock %}
